

/******** Portrait iPhone8 and iPad Pro********/
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait), screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 

  body {
    background-image: url(images/belluminati.png);
    background-position: 49% -70px; 
    margin: 0;
    text-align: center;
  }

  #container {
    background: rgb(3,11,68);
    border-top: 5px solid;
    border-color: rgb(93, 237, 250);
    bottom: 0;
    height: 45%;
    margin: 0px;
    position: fixed;
    width: 100%;
  }

  #logo {
    background: white;
    border-radius: 15px;
    left: 5%;
    padding: 0.7em;
    position: absolute;
    top: calc(-12%);
    width: 16%; 
  }

  #copy {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0.25em;
    padding-top: 10%;
    text-transform: uppercase;
  }

  a {
    display: inline-block;
  }

  button {
    background: white;
    border-radius: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 3vh;  
    padding: 0.5em;
  }

  #social-icons {
    margin-top: 1%;
  }

  .social {
    margin: 0.75em;
    width: 50%;
  } 
}

/********  Style background image on iPad Portrait ********/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 
  body {
    background-size: 200%;
    background-position: center top 15%;
  } 
}  

/******** Landscape iPhone8 and iPad ********/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape), screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1)  { 

  body {
    background-image: url(images/belluminati.png);
    background-position: center top 10%;
    background-size: 90%;
    margin: 0;
    text-align: center;
  }  

  #container {
    background: rgb(3,11,68);
    border-color: rgb(93, 237, 250);
    border-top: 5px solid;
    bottom: 0;
    height: 40%;
    position: absolute;
    width: 100%;
  }

  #logo {
    background: white;
    border-radius: 15px;
    left: 5%;
    padding: 0.6em;
    position: absolute;
    top: calc(-15%);
    width: 8%;
  }

  a {
    display: contents;
  }

   #social-icons {
    max-width: 50%;
    position: absolute;
    right: 0.5%;
    text-align: right;
    top: 3%;
    width: inherit;
  }

  .social {
    margin: 0.5em;
    width: 10%;
  } 

  #copy {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 7vh;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2%;
    padding: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }

 
  button {
    background: white;
    border-radius: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 4vh;
    padding: 0.5em;
  }  

  #cta {
    bottom: 8%;
    position: absolute;
    right: 2.5%;
  
  }
}

/******** Style background image on iPad Landscape ********/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 
  body {
    background-position: center top -8em;
    background-size: 150%;
  } 
}  



