/* Portrait iPhone8*/
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait), screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 


  body {
    margin: 0;
    text-align: center;
    background-image: url(images/belluminati.png);
    /*background-size: cover; */
    background-position: 49% -35%; 
  }

  #container {
    position: fixed;
    bottom: -1;
    width: 100%;
    height: 45%;
    margin: 0px;
    background: linear-gradient(to bottom, #6c3a89, #4a519a, #20629f, #006f9a, #207990);
   
  }

  #logo {
    width: 16%;
    left: 5%;
    position: absolute;
    top: calc(-15%);
    background: white;
    padding: 0.7em;
    border-radius: 15px;
  }

  #marketing-copy {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.5em;
    font-size: 5vh;
    margin-bottom: 0;
    padding-bottom: 0.25em;
  }

  button {
    background: white;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 4vh;
    font-family: 'Permanent Marker', cursive;
  }

  #social-icons {
    margin-top: 1%;
  }

  .social {
    margin: 1em;
    height: 7vh;
  } 

}

/* Style background image on iPad Portrait */
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 
  body {
    background-size: 200%;
    background-position: center bottom 130%;
  } 
}  

/*/* Landscape iPhone8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape), screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1)  { 

  body {
    margin: 0;
    text-align: center;
    background-image: url(images/tacos.png);
    background-size: cover;
  }  

  #container {
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, #6c3a89, #4a519a, #20629f, #006f9a, #207990);
    position: absolute;
    bottom: 0;
  }

  #taco {
    display: none;
  }

  #logo {
    width: 8%;
    left: 5%;
    position: absolute;
    top: calc(-15%);
    background: white;
    padding: 0.6em;
    border-radius: 15px;
  }

  #marketing-copy {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    font-size: 7vh;
    margin-bottom: 0;
    margin-top: 2%;
    padding-bottom: 0.5em;
  }

  button {
    background: white;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 4vh;
    font-family: 'Permanent Marker', cursive;
  }

  #social-icons {
    position: absolute;
    top: 2.5%;
    right: 0;
  }

  .social {
    margin: 0.5em;
    height: 25%;
  } 

  #call-to-action {
    position: absolute;
    right: 2.5%;
    bottom: 7.5%;
  }


}



